body {
    background-color: #fff;
    background-image: url("../images/paw-prints-background.jpg");
}
#mainBody{
    width: 70%;
    margin: 0 auto;
    min-height: 400px;
    background: #fff;
    border: 1px solid blue;
}

h1 {
    color: red;
}
h2 {
    color: blue;
}