body {
    background-color: #fff;
    background-image: url("../images/paw-prints-background.jpg");
}
#mainBody{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 400px;
}

h1 {
    color: red;
}
h2 {
    color: blue;
}